* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
p {
    margin: 0 !important;
    padding: 0 !important;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #fff !important;
}
a:hover, a:focus {
    text-decoration: none !important;
    color: #fff !important;
    outline: none !important;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1;
    /*background: grey !important;*/
}
.container  {
    width: 100% !important;
    max-width: 1140px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
header {
    max-height: 915px;
    margin-bottom: 80px;
}
.header-line {
    position: relative;
    background: rgba(24,54,80,.65);
    z-index: 11;
}
.top-navbar {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 13px;
}
p > i {
    display: inline-block;
    font-size: 16px;
    color: #34ccff;
    margin: 0 6px 0 0;
}
p .phone {
    display: flex;
    align-items: center;
}
p .email {
     display: flex;
     align-items: center;
 }
p .working-hours {
    display: flex;
    align-items: center;
}
p .office {
    display: flex;
    align-items: center;
}
.language {
    position: relative;
    cursor: pointer;
}
.language:after {
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
    position: absolute;
    right: 12px;
    top: 50%;
    margin: -7px 0 0;
}
.russian, .ukraine {
    position: absolute;
    background: black;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 100%;
}
.lang:nth-child(1) {
    top: 100%;
}
.lang:nth-child(2) {
    top: 200%;
}
.russian, .english, .ukraine {
    padding: 18px 40px 19px 20px;
    border: 1px solid transparent;
}
.russian:hover, .english:hover, .ukraine:hover,
.russian:active, .english:active, .ukraine:active,
.russian:focus, .english:focus, .ukraine:focus {
    background: #183650;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.russian:active, .english:active, .ukraine:active,
.russian:focus, .english:focus, .ukraine:focus {
    background: black;
}
.open .lang:first-child {
    background: #183650;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.email > i {
    font-size: 12px;
}
.office {
    max-width: 200px;
    width: 100%;
    position: relative;
    padding: 18px 40px 19px 20px;
    background: #34ccff;
    cursor: pointer;
}
.office:after {
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
    position: absolute;
    right: 20px;
    top: 50%;
    margin: -7px 0 0;
}
.office > i {
    margin: 0 15px 0 0;
}
.navigation {
    position: relative;
    display: flex;
    background: 0 0;
    border-bottom: 1px solid rgba(255,255,255,.35);
    z-index: 10;
}
.logo {
    display: block;
    height: 39px;
    width: 191px;
    background-image: url(../images/logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    margin: 22px 0;
    cursor: pointer !important;
}
nav {
    display: flex !important;
    align-items: center;
    margin-left: auto;
}
nav > a {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 31px 15px;
    border-bottom: 5px solid transparent;
    cursor: pointer !important;
    text-shadow: 1px 1px 1px black;
}
nav > a:hover {
    border-bottom: 5px solid #34ccff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.search-button {
    display: block;
    position: relative;
    width: 100px;
    text-align: center;
    font-size: 28px;
    cursor: pointer;
    padding: 27px 0;
    color: #fff;
}
.search-button i {
    text-shadow: 1px 1px 1px black;
}
.search {
    margin-left: 50px;
}
.search-button:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin: -25px 0 0;
    height: 50px;
    width: 1px;
    background: rgba(255,255,255,.35);
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.slider {
    position: relative;
    top: -190px;
}
.slider-item{
    position: relative;
    display: none;
}
.slider-active {
    display: block;
}
.slider-item:nth-child(1) {
    height: 900px;
    background-image: url(../images/slider_1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.slider-item:nth-child(2) {
    height: 900px;
    background-image: url(../images/slider_2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.slider-item:nth-child(3) {
    height: 900px;
    background-image: url(../images/slider_3.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}
.slider-item:nth-child(4) {
    height: 900px;
    background-image: url(../images/slider_4.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.slider-description {
    position: absolute;
    top: 35%;
    left: 20%;
    width: 100%;
    max-width: 540px;
    min-height: 380px;
    background: rgba(24,54,80,.65) !important;
    padding: 65px 10px 10px 65px;
    transform-style: preserve-3d;
    transform: perspective(1000px);

}
.blue-line {
    height: 3px;
    width: 65px;
    background: #34ccff;
    margin-top: 65px;
    margin-bottom: 40px;
}
.slider-description > h2 {
    font-family: "Titillium Web" !important;
    line-height: 54px;
    margin: 0 0 40px 0;
    padding: 5px !important;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    text-shadow: 1px 1px 1px black;
}
.slider-description > p {
    line-height: 28px;
    margin: 0;
    padding: 5px !important;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 1px black;
}
.slider-description:hover .vanilla-tilt {
    transform: translateZ(35px);
}
.slider-line {
    width: 100%;
    max-height: 70px;
    background-color: #183650;
}
.slider-navigation {
    display: flex;
    justify-content: space-between;
}
.slider-navigation-item {
    width: 100%;
    max-width: 285px;
    position: relative;
    text-align: center;
    font-size: 18px;
    padding: 26px 0;
    margin: 0 10px;
    color: #fff;
    font-family: "Titillium Web", sans-serif;
    cursor: pointer;
}
.slider-navigation-image {
    position: absolute;
    width: 277px;
    height: 117px;
    font-size: 90px;
    top: -117px;
    left: -10px;
    border-bottom: 2px solid transparent;

}
.slider-navigation-item:hover .slider-navigation-image {
    border-bottom: 2px solid #fff;
    color:#34ccff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.active-slide {
    border-bottom: 2px solid #fff;
    color: #34ccff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.about-us {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}
.annotation {
    width: 100%;
    max-width: 530px;
    margin: 0 25px 0 0;
}
.annotation > h2 {
    color: #183650 !important;
    text-transform: uppercase;
}
.annotation > p {
    margin-bottom: 50px !important;
}
.author-container {
    display: flex;
    justify-content: space-between;
}
.author-name {
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}
.author-position {
    font-size: 13px;
}
.signature {
    width: 194px;
    height: 37px;
    background-image: url(../images/autograph.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 30px;
}
.video-img {
    width: 540px;
    height: 358px;
    background-image: url(../images/video_preview.jpg);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 0 0 25px;
}
.stats {
    display: flex;
    align-items: center;
    min-height: 170px;
    background: #34ccff;
    padding-top: 25px;
}
.stats > .container {
    display: flex;
    justify-content: space-between;
}
.projects, .clients, .vehicles, .team {
    position: relative;
    margin: 0 0 0 80px !important;
}
.count {
    font-size: 42px;
    font-weight: 300;
    text-align: left;
    margin: 0 0 11px;
    font-family: "Titillium Web", sans-serif;
    color: #183650;
}
.text {
    font-size: 14px;
    line-height: 22px;
    color: #183650;
    margin: 15px 0 !important;
}
#icon_5ccba2b23fcd6 {
    position: absolute;
    top: -10px;
    left: -80px;
    height: 64px;
    width: 65px;
    stroke: #fff;
}
#icon_5ccba2b24032e {
    position: absolute;
    top: -10px;
    left: -80px;
    height: 68px;
    width: 64px;
    stroke: #fff;
}
#icon_5ccba2b240923 {
    position: absolute;
    top: -10px;
    left: -80px;
    height: 67px;
    width: 52px;
    stroke: #fff;
}
#icon_5ccc1bdb9e39b {
    position: absolute;
    top: -10px;
    left: -80px;
    height: 67px;
    width: 68px;
    stroke: #fff;
}
.service {
    background: #183650;
    padding: 80px 0;
}
.service > .container {
    display: flex;
    justify-content: space-between;
}
.service-description {
    width: 100%;
    max-width: 285px;
    padding: 0 15px;
}
.service-description > p {
    color: rgba(255,255,255,.5);
    margin-bottom: 35px !important;
}
.service-navigation {
    width: 100%;
    max-width: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 15px;
}
.owl-dot {
    width: 4px;
    height: 4px;
    border: 1px solid #8a929d;
    background: #8a929d;
    padding: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}
.active {
    width: 10px;
    height: 10px;
    background: 0 0;
    border-color: #34ccff;
    padding: 3px;
    cursor: pointer;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.service-slides {
    max-width: 815px;
}
.owl-item {
    height: 100%;
    padding: 3px;
}
.service-slides-item {
    width: 245px;
    height: 400px;
    background: #fff;
    margin: 0 auto !important;
}
.owl-nav {
    display: none;
}
.service-slides-item > h6 {
    font-size: 14px;
    margin: 19px 0;
    padding: 0 30px;
    letter-spacing: .04em;
    font-weight: 600;
    color: #183650 !important;
}
.service-slides-item > p {
    line-height: 24px;
    margin: 0 0 26px 0 !important;
    padding: 0 30px !important;
    font-size: 13px;
}
.contact-now {
    max-height: 334px;
    background: transparent;
}
.contact-now > .container {
    display: flex;
    justify-content: space-between;
}
.contact-now-description {
    width: 100%;
    max-width: 650px;
}
.contact-now-description > h2 {
    color: #183650 !important;
    margin-top: 30px;
    margin-bottom: 25px;
}
.contact-now-description > p {
    color: #183650 !important;
    margin-bottom: 25px !important;
}
.contact-button {
    width: 195px;
    height: 53px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border: 2px solid #34ccff;
    background: #34ccff;
    border-radius: 50px;
}
.contact-button > i {
    margin-left: 10px;
    font-size: 13px;
}
.contact-button:hover {
    color: #183650;
    background: transparent;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.contact-now-girl {
    width: 475px;
    height: 334px;
    background-image: url(../images/girl.png);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
.faq {
    min-height: 700px;
    padding-top: 80px;
}
.faq > .container {
    display: flex;
    justify-content: space-between;
}
.faq-content {
    width: 100%;
    max-width: 540px;
}
.faq-content > h2 {
    color: #183650 !important;
}
.accordion-title {
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    font-weight: 400;
    color: #183650 !important;
    padding: 13px 30px !important;
    border: 1px solid #e6e6e6;
    border-bottom: 1px solid transparent;
}
.accordion:last-child .accordion-title {
    border-bottom: 1px solid #e6e6e6;
}
.accordion-title:hover {
    background-color: #34ccff;
    color: #fff !important;
    border: 1px solid #34ccff;
    cursor: pointer;
}
[data-accordion].open > [data-control] {
    background-color: #34ccff;
    color: #fff !important;
    border: 1px solid #34ccff;
}
[data-accordion] > [data-control]:after {
    top: 50%;
    transform: translateY(-50%);
}
[data-accordion].open > [data-control]:after {
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);;
}
.accordion-row {
    border: none !important;
    padding: 13px 30px !important;
    line-height: 26px;
    margin: 0 0 26px;
}
.events {
    width: 100%;
    max-width: 540px;
}
.events > h2 {
    color: #183650 !important;
}
.event-slides {
    display: flex;
}
.event-item {
    display: flex;
    border: 1px solid #e6e6e6;;
}
.event-description {
    padding: 30px 20px;
}
.event-description > h4 {
    line-height: 30px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 16px;
    color: #183650 !important;
}
.event-description > p {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 20px !important;
}
.events-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 60px;
    height: 12px;
    margin: 30px auto;
}
.staff {
    min-height: 600px;
    padding: 80px 0 !important;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -ms-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
    background-image: url(../images/staff1.jpg);
}
.staff1_bg{
    background-image: url(../images/staff1.jpg);
}
.staff2_bg{
    background-image: url(../images/staff2.jpg);
}
.staff3_bg{
    background-image: url(../images/staff3.jpg);
}
.staff-container {
    width: 100%;
    max-width: 635px;
    max-height: 444px;
    background: #fff;
    padding: 35px 30px;
}
.quotes {
    position: relative;
    min-height: 65px;
    margin-bottom: 15px;
}
.quotes:before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: '\e958';
    font-family: 'stm';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: top;
    font-size: 64px;
    color: #34ccff;
    margin: 0 0 15px;
}
.staff-item > p {
    font-family: "Titillium Web", sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
    color: #183650 !important;
    text-align: center;
}
.sep {
    position: relative;
    color: #34ccff;
    margin: 20px auto;
    width: 18px;
}
.sep:before {
    content: '';
    position: absolute;
    left: -85px;
    top: 50%;
    width: 70px;
    height: 1px;
    background: #34ccff;
}
.sep:after {
    content: '';
    position: absolute;
    right: -85px;
    top: 50%;
    width: 70px;
    height: 1px;
    background: #34ccff;
}
.staff-info {
    margin-bottom: 10px;
}
.staff-name {
    color: #404040 !important;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .04em;
}
.staff-position {
    font-size: 13px;
    text-align: center;
}
.staff-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 60px;
    height: 12px;
    margin: 25px auto;
}
.partners > .container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.partners-item {
    width: 198px;
    height: 65px;
    padding: 0 30px;
}
.partners-item > img {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .6;
    cursor: pointer;
}
.partners-item > img:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}
.contact-form {
    background: #f7f7f7 !important;
}
.contact-form > .container {
    display: flex;
}
.benefits-container {
    width: 100%;
    max-width: 470px;
    padding-top: 80px;
}
.benefits-container > h2 {
    color: #183650 !important;
}
.benefits-container > p {
    margin-bottom: 40px !important;
}
.benefits-items-container {
    display: flex;
    flex-wrap: wrap;
}
.benefits-item {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    max-width: 235px;
    padding-right: 15px;
    margin-bottom: 50px;
}
.benefits-item > p {
    text-align: left;
    color: #183650 !important;
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 20px !important;
}
.benefits-item > svg {
    stroke: #34ccff;
}
.contact-form-container {
    padding: 75px 40px;
    background-color: #183650 !important;
    width: 100%;
    max-width: 635px;
}
input {
    margin-bottom: 20px;
}
textarea {
    margin-bottom: 20px;
}
select {
    font-size: 14px;
    line-height: 17px;
    padding: 8px 16px 7px;
    width: 100%;
    border: 1px solid #e6e6e6 !important;
    background: #fff;
    outline: none !important;
    height: auto;
    color: #a6a6a6;
    border-radius: 0;
    box-shadow: none !important;
    box-sizing: border-box;
    margin-bottom: 20px;
    cursor: pointer;
}
.map-container {
    position: relative;
}
div#map {
    min-width: 100%;
    min-height: 670px;
}
.office-map {
    display: flex;
    align-items: center;
    min-height: 170px;
    background: rgba(24,54,80,.9) !important;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.office-map > .container {
    padding: 30px 0;
}
.c_address, .c_telephone, .c_email {
    color: rgba(255,255,255,.7);
    margin-bottom: 10px !important;
    font-size: 15px;
}
.copyright {
    font-size: 15px !important;
    padding: 0 !important;
}
.fa-heart {
    color: #ff5252;
}

.life-text {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}
.life-text p {
    font-size: 2rem;
    padding: 1rem !important;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}
.life-text p span.typed-text {
    font-weight: normal;
    color: #34ccff;
}
.life-text p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    height: 30px;
    animation: blink 1s infinite;
}
.life-text p span.cursor.typing {
    animation: none;
}
@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}
.navigation-mobile {
    display: none;
}
.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
    right: 2em;
}
.scroll-up a {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
}
.scroll-up:hover a {
     background-color: rgba(135, 135, 135, 1);
     -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
     -ms-transition: all .3s ease;
     -o-transition: all .3s ease;
     transition: all .3s ease;
 }